body {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}


/****************************************SCROLL BARS****************************************/


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(216, 94, 50);
    border-radius: 10px;
}


/****************************************SCROLL BARS END****************************************/


/****************************************NAVIGATION****************************************/

#machau a {
    color: white;
    text-decoration: none;
}

nav {
    margin: -7px -8px;
    padding: 0px;
    /* border: 1px solid red; */
    background: black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav a {
    /* border: 1px solid yellow; */
    width: 7%;
}

nav div,
nav a {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 1.3px;
}

nav a .logo {
    /* border: 1px solid red; */
    width: 100%;
}

#download a {
    width: auto;
    height: 8vh;
    color: white;
    padding: 0 15px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background: rgb(216, 94, 50);
    border: 1.5px solid rgb(216, 94, 50);
}

#download a:visited {
    color: white;
}

#download a:hover {
    background: rgb(212, 106, 67);
    color: white;
}

nav span {
    /* border: 1px solid limegreen; */
    margin: 0 3px;
    font-size: 1rem;
    font-weight: bold;
}


/****************************************NAVIGATION END****************************************/


/****************************************POLICY****************************************/

.policy-logo {
    text-align: center;
}

.policy-logo img {
    width: 30%;
}

.policy {
    width: 70%;
    margin: auto;
    padding: 30px;
    line-height: 1.8;
    letter-spacing: 1.3px;
}

.policy a {
    color: #999;
}


/****************************************POLICY END****************************************/


/****************************************FOOTER****************************************/

footer {
    /* border: 1px solid red; */
    margin: 50px -8px -7px -8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: yellowgreen;
    text-decoration: none;
}

footer div {
    /* border: 1px solid orchid; */
    display: flex;
    align-items: center;
}

.footer-logo {
    /* border: 1px solid hotpink; */
    width: 12%;
}

.footer-logo a {
    color: white;
}

.footer-logo a img {
    width: 70%;
    /* margin: auto; */
}

footer .contact {
    /* border: 1px solid blue; */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
}

footer .contact p:nth-child(2),
footer .contact p:nth-child(3) {
    margin-top: -5px;
}

.social-media {
    /* border: 1px solid orange; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media a {
    color: white;
    width: 15%;
    margin: 15px 10px 0 0;
}

.social-media img {
    width: 90%;
    border-radius: 100%;
    box-shadow: 0 0 10px#ccc;
    transition: 0.5s;
    margin: 10px;
}

.social-media a:hover img {
    transform: translateY(-10px);
    box-shadow: 0 0 10px#666;
}


/****************************************FOOTER END****************************************/


/****************************************RESPONSIVE****************************************/

@media (max-width: 320px) {
    nav span {
        display: none;
    }
}

@media (max-width: 426px) {
    nav a {
        width: 13%;
    }
    #download a {
        font-size: 8px;
        padding: 0 3px;
    }
    .policy {
        font-size: 12px;
        width: 93%;
        padding: 5px;
        line-height: 1.5;
    }
    .policy-logo img {
        margin-top: 15px;
        width: 65%;
    }
    .policy-logo h2 {
        font-size: 1.3rem;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    footer {
        /* border: 1px solid yellow; */
        margin: 30px -8px -7px -8px;
        /* display: flex;
        flex-direction: column; */
    }
    footer .contact {
        /* border: 1px solid red; */
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .contact p:nth-child(2),
    footer .contact p:nth-child(3) {
        margin-top: -13px;
        margin-bottom: -5px;
    }
    .footer-logo {
        /* border: 1px solid red; */
        width: 60%;
        margin: auto;
        text-align: center;
    }
    footer>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo a img {
        width: 30%;
        /* border: 1px solid yellow; */
        margin: 3px auto;
        margin-bottom: 0px;
    }
    .social-media {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-media a {
        /* border: 1px solid red; */
        width: 40%;
        margin-top: -5px;
        text-align: center;
    }
    .social-media img {
        text-align: center;
        width: 50%;
        margin: 3px 0 5px 0;
        /* margin: 1px; */
        /* margin-bottom: 10px; */
    }
    .social-media a:hover img {
        transform: translateY(-6px);
    }
}

@media (max-width: 767px) and (min-width: 426px) {
    nav span {
        margin: 0 10px;
    }
    nav a .logo {
        width: 115%;
    }
    .policy {
        font-size: 14px;
    }
    .policy-logo img {
        margin-top: 17px;
        width: 70%;
    }
    .policy-logo h2 {
        margin-top: -10px;
        margin-bottom: -10px;
        font-size: 1.4rem;
    }
    .policy {
        width: 90%;
        padding: 5px;
        line-height: 1.6;
    }
    footer {
        /* border: 1px solid turquoise; */
        margin: 30px 0px 0px 0px;
    }
    /* footer .contact {
        margin-right: 6px;
        width: 52%;
    } */
    .footer-logo {
        width: 13%;
    }
    .footer-logo a img {
        width: 80%;
    }
    .social-media {
        /* border: 1px solid palevioletred; */
        margin-left: 3px;
        width: 45%;
    }
    footer .contact p:nth-child(2),
    footer .contact p:nth-child(3) {
        margin-top: -5px;
    }
    .social-media a {
        color: white;
        text-decoration: none;
        margin-top: 5px;
    }
    footer .contact {
        /* border: 1px solid red; */
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* .social-media img {
        text-align: center;
        width: 70%;
        margin: 3px;
    } */
}

@media (max-width: 991px) and (min-width: 768px) {
    .policy {
        font-size: 14px;
    }
    .policy-logo img {
        margin-top: 17px;
        width: 40%;
    }
    .policy-logo h2 {
        margin-top: -5px;
        margin-bottom: -2px;
        font-size: 1.4rem;
    }
}


/****************************************RESPONSIVE END****************************************/