@media (max-width: 426px) {
    nav a {
        width: 13%;
    }
    .slider {
        width: 100vw!important;
        margin: auto;
    }
    .screenshots {
        margin: 0 14px 10px 14px!important;
    }
    #download a {
        font-size: 8px;
        padding: 0 3px;
    }
    .second {
        font-size: 30px;
        font-weight: 60;
        margin-top: 20px;
    }
    .first div {
        width: 90%;
        height: 100vh;
        font-size: 12px;
        margin: 0 5px;
        padding: 0 10px;
    }
    .first {
        background-image: url("../images/IMG-20210228-WA0033.jpg");
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        color: white;
    }
    #madeinindia {
        font-size: 22px;
    }
    .card1,
    .card2,
    .card3,
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .card {
        flex-direction: column-reverse;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        width: 93%;
        font-size: 12px;
        margin: 0 5px;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card img {
        width: 93%;
        height: auto;
        margin: 5px;
    }
    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #trailer {
        margin: 0 0 30px 0;
    }
    .review {
        width: 95vw;
    }
    .review .slick-slide {
        margin: 0 10px;
    }
    /* the parent */
    .review .slick-list {
        margin: 0 -10px;
    }
    .credit-section {
        height: auto;
        padding: 7px;
    }
    .credits {
        margin: 15px 5px;
        flex-wrap: wrap;
    }
    .credit div {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }
    .credit {
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 15px;
        line-height: 1.1;
    }
    .credit p {
        font-size: 13px;
    }
    .special-thanks div p {
        font-size: 13px;
    }
    .download {
        height: 70vh;
    }
    .download a {
        font-size: 15px;
        padding: 10px;
        border-radius: 5px;
        margin: 7px;
        border: 1.5px solid rgb(228, 123, 84);
    }
    .footer-logo {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    footer>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .contact {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .contact p:nth-child(2),
    footer .contact p:nth-child(3) {
        margin-top: -5px;
    }
    .footer-logo a img {
        width: 30%;
        margin: 3px auto;
        margin-bottom: 0px;
    }
    .social-media {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-media a {
        width: 40%;
        margin-top: 5px;
        text-align: center;
    }
    .social-media img {
        text-align: center;
        width: 50%;
        margin: 3px 0 5px 0;
    }
    .social-media a:hover img {
        transform: translateY(-6px);
    }
}

@media (max-width: 320px) {
    nav span {
        display: none;
    }
    .first div {
        font-size: 12px;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        font-size: 12px;
        width: 93%;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card img {
        width: 93%;
        height: auto;
        margin: 5px;
    }
}

@media (max-width: 767px) and (min-width: 426px) {
    .screenshots {
        margin: 0 14px 10px 14px!important;
    }
    nav span {
        margin: 0 10px;
    }
    .slider {
        width: 100vw!important;
        margin: auto;
    }
    nav a .logo {
        width: 115%;
    }
    .review {
        width: 95vw;
    }
    .review .slick-slide {
        margin: 0 10px;
    }
    /* the parent */
    .review .slick-list {
        margin: 0 -10px;
    }
    .first div {
        width: 80%;
        font-size: 15px;
    }
    #madeinindia {
        font-size: 25px;
    }
    .card1,
    .card2,
    .card3,
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .card {
        flex-direction: column-reverse;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        width: 93%;
        font-size: 15px;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card .game-img {
        width: 93%;
        height: auto;
        margin: 5px;
    }
    .card .game-name-img {
        width: 50%;
        height: auto;
    }
    .credit-section {
        height: auto;
        padding: 7px;
    }
    .credits {
        margin: 15px 5px;
        flex-wrap: wrap;
    }
    .credit div {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }
    .credit div {
        font-size: 15px;
    }
    .credit {
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 15px;
        line-height: 1.1;
    }
    .footer-logo {
        width: 13%;
    }
    .footer-logo a img {
        width: 80%;
    }
    .social-media a {
        margin: 5px 5px 0 0;
    }
    .social-media a img {
        margin: 5px;
        width: 80%;
    }
    .social-media {
        margin-left: 3px;
        width: 40%;
    }
}

@media (max-width: 599px) and (min-width: 426px) {
    .review {
        width: 80vw;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .second {
        font-size: 50px;
        font-weight: 100;
        margin-top: 20px;
    }
    #madeinindia {
        font-size: 31px;
    }
    .first div {
        width: 50%;
    }
    .card1,
    .card2,
    .card3,
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .card {
        flex-direction: column-reverse;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        width: 93%;
        font-size: 16px;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card .game-img {
        width: 93%;
        height: auto;
        margin: 5px;
    }
    .card .game-name-img {
        width: 50%;
        height: auto;
    }
}