@media (max-width: 426px) {
    nav a {
        width: 20%;
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        letter-spacing: 1.3px;
        /* border: 1px solid yellowgreen; */
    }
    nav h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3vh;
        line-height: 1.3;
        /* margin-left: 1vw;
        margin-top: 5px;
        padding: 10px 0 0 3px; */
        font-size: 1rem;
    }
    nav div form input {
        font-size: 9px;
        padding: 0 9px;
    }
    nav a .logo {
        /* border: 1px solid red; */
        margin-top: 5px;
        width: 100%;
    }
    #email {
        font-size: 9px;
        padding: 0 3px;
    }
    #email a {
        width: 70px;
    }
    #email i {
        margin-right: 6px;
    }
    .first div {
        width: 90%;
        height: 100vh;
        font-size: 12px;
        margin: 0 5px;
        padding: 0 10px;
    }
    .first {
        background-image: url("../images/IMG-20210228-WA0033.jpg");
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        color: white;
    }
    .logo {
        /* margin-top: 10px;
        padding-top: 10px;
        margin-left: 0; */
        width: 28%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card1,
    .card2,
    .card3,
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .card {
        flex-direction: column-reverse;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        width: 93%;
        font-size: 14px;
        margin: 0 5px;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card img {
        width: 93%;
        height: auto;
        margin: 5px;
    }
    .credit-section {
        height: auto;
        padding: 7px;
    }
    .credits {
        margin: 15px 5px;
        flex-wrap: wrap;
    }
    .credit div {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }
    .credit {
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 15px;
        line-height: 1.1;
    }
    .download {
        height: 70vh;
    }
    .download form input {
        font-size: 15px;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        border: 1.5px solid rgb(228, 123, 84);
    }
    .footer-logo {
        /* border: 1px solid red; */
        width: 60%;
        margin: auto;
    }
    footer>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .contact {
        /* border: 1px solid red; */
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .contact p:nth-child(2),
    footer .contact p:nth-child(3) {
        margin-top: -5px;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-logo img {
        width: 30%;
        /* border: 1px solid yellow; */
        margin: 3px auto;
        /* text-align: center; */
        /* margin-bottom: 5px; */
        margin-bottom: 0px;
    }
    .social-media {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-media a {
        /* border: 1px solid red; */
        width: 40%;
        margin-top: 5px;
        text-align: center;
    }
    .social-media img {
        text-align: center;
        width: 50%;
        margin: 3px 0 5px 0;
    }
    .social-media a:hover img {
        transform: translateY(-6px);
    }
}

@media (max-width: 320px) {
    .logo {
        margin-top: 10px;
        padding-top: 0px;
        width: 28%;
    }
    nav h1 {
        display: none;
    }
    .first div {
        font-size: 12px;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        font-size: 12px;
        width: 93%;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card img {
        width: 93%;
        height: auto;
        margin: 5px;
    }
    nav a {
        width: 30%;
        /* border: 1px solid yellowgreen; */
    }
    nav div form input {
        font-size: 9px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) and (min-width: 426px) {
    nav a {
        width: 15%;
        /* border: 1px solid yellowgreen; */
    }
    nav h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3vh;
        line-height: 1.3;
        /* margin-left: 1vw;
        margin-top: 5px;
        padding: 10px 0 0 3px; */
        font-size: 1rem;
    }
    nav a .logo {
        /* border: 1px solid red; */
        margin-top: 5px;
        width: 70%;
    }
    nav div form input {
        font-size: 10px;
        padding: 0 15px;
    }
    #email {
        font-size: 10px;
        padding: 0 3px;
    }
    #email a {
        width: 80px;
    }
    #email i {
        margin-right: 6px;
    }
    .first div {
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-left: 30px;
        padding: 0 20px;
        line-height: 1.62857143;
        letter-spacing: 1.3px;
        /* text-shadow: 2px 2px 4px orange; */
    }
    .card1,
    .card2,
    .card3,
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .card {
        flex-direction: column-reverse;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        width: 93%;
        font-size: 16px;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card .game-img {
        width: 93%;
        height: auto;
        /* height: 45vh; */
        margin: 5px;
    }
    .card .game-name-img {
        width: 50%;
        height: auto;
    }
    .credit-section {
        height: auto;
        padding: 7px;
    }
    .credits {
        margin: 15px 5px;
        flex-wrap: wrap;
    }
    .credit div {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }
    .credit {
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 15px;
        line-height: 1.1;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    nav a {
        width: 10%;
    }
    nav h1 {
        /* border: 1px solid khaki; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3vh;
        line-height: 1.3;
        /* margin-left: 1vw;
        margin-top: 5px;
        padding: 10px 0 0 3px; */
        font-size: 1rem;
    }
    nav a .logo {
        /* border: 1px solid red; */
        margin-top: 5px;
        width: 70%;
    }
    .first div {
        width: 50%;
    }
    #email {
        width: 190px!important;
        font-size: 12px;
        padding: 0 0px;
    }
    #email a {
        width: 100%!important;
    }
    #email i {
        margin-right: 6px!important;
    }
    .card1,
    .card2,
    .card3,
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .card {
        flex-direction: column-reverse;
    }
    .card1-div,
    .card2-div,
    .card3-div {
        width: 93%;
        font-size: 16px;
    }
    .card1 img,
    .card2 img,
    .card3 img,
    .card .game-img {
        width: 93%;
        height: auto;
        margin: 5px;
    }
    .card .game-name-img {
        width: 50%;
        height: auto;
    }
    #email {
        width: 25vh;
    }
    #email a {
        width: 97%;
        text-decoration: none;
        color: white;
        /* margin: 3px; */
    }
}