* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    line-height: 1.62857143;
    font-family: Helvetica, sans-serif;
}


/****************************************SCROLL BARS****************************************/


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(216, 94, 50);
    border-radius: 10px;
}


/* Handle on hover */


/* ::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 106, 67);
} */


/****************************************SCROLL BARS END****************************************/


/****************************************NAVIGATION****************************************/

#machau a {
    color: white;
    text-decoration: none;
}

nav {
    background: black;
    height: 8vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav a {
    width: 7%;
    /* border: 1px solid yellowgreen; */
}

nav div,
nav a {
    /* margin: 0 10px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 1.3px;
}

nav a .logo {
    /* border: 1px solid thistle; */
    width: 100%;
}

#download a {
    width: auto;
    height: 8vh;
    /* border: 1px solid greenyellow; */
    color: white;
    padding: 0 15px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background: rgb(216, 94, 50);
    border: 1.5px solid rgb(216, 94, 50);
}

#download a:visited {
    color: white;
}

#download a:hover {
    background: rgb(212, 106, 67);
    color: white;
}

nav span {
    font-size: 1rem;
    /* border: 1px solid limegreen; */
    margin: 0 3px;
    font-weight: bold;
}


/****************************************NAVIGATION END****************************************/


/****************************************MACHAU GAMES****************************************/

#sound {
    color: #999;
}

.first {
    background-image: url("../images/FrozenCove.0044_(2).jpg");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.first div {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-left: 30px;
    padding: 0 20px;
    letter-spacing: 1.1px;
    /* text-shadow: 2px 2px 4px orange; */
}

#madeinindia {
    font-size: 35px;
    background: linear-gradient(#ff9933, #ff9c7c, #e6891f, #fff, #fff, #00a572, #127777, #138808);
    /* text-align: left!important; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/****************************************MACHAU GAMES END****************************************/


/****************************************CARDS****************************************/

.card1,
.card2,
.card3,
.card {
    /* border: 1px solid cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.card1-div,
.card2-div,
.card3-div {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.card1 img,
.card2 img,
.card3 img,
.card img {
    /* border: 1px solid tomato; */
    width: 48%;
    height: 55vh;
    margin: 10px;
}

.card2 {
    flex-direction: row-reverse;
}


/****************************************CARDS END****************************************/


/****************************************TRAILER****************************************/

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer {
    margin: 0 0 70px 0;
}


/****************************************TRAILER END****************************************/


/****************************************SCREENSHOTS****************************************/

.screenshots {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: #5d4257;
    /* background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%); */
    background: -webkit-linear-gradient(#93a5cf, #e4efe9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider {
    width: 90vw!important;
    margin: auto;
    /* border: 1px solid red; */
}

.slick-dots li button:before {
    color: gainsboro!important;
}

.slick-dots li.slick-active button:before {
    color: rgb(197, 112, 81) !important;
}


/****************************************SCREENSHOTS END****************************************/


/****************************************REVIEWS****************************************/

.review {
    width: 90vw;
    /* height: 50vh; */
    margin: auto;
}

.review .slick-slide {
    margin: 0 20px;
}


/* the parent */

.review .slick-list {
    margin: 0 -20px;
}


/****************************************REVIEWS END****************************************/


/****************************************CREDITS****************************************/

.credit-section {
    background-image: url("../images/pawel-czerwinski-tMbQpdguDVQ-unsplash.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credit-section h1 {
    text-align: center;
}

.credits {
    margin: 30px 15px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.credit div {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.credit {
    text-align: center;
    line-height: 1.92857143!important;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 10px 0 0;
    box-shadow: 0 4px 8px 0 #999;
}

.credit-section h1 {
    color: white!important;
}


/****************************************CREDITS END****************************************/


/****************************************SPECIAL THANKS****************************************/

.special-thanks {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.2857143!important;
    padding: 30px;
    text-align: center;
}

.contact a,
.special-thanks a {
    color: yellowgreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/****************************************SPECIAL THANKS END****************************************/


/****************************************TNC SECTION****************************************/

.download {
    background-image: url("../images/HighresScreenshot00001\ \(1\).jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download a {
    text-decoration: none;
    color: rgb(228, 123, 84);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(228, 123, 84);
    border: 2px solid rgb(228, 123, 84);
}

.download div {
    margin: 20px;
}

.download a:visited {
    text-decoration: none;
    color: rgb(228, 123, 84);
}

.download div a:hover {
    background: rgb(245, 105, 55);
    color: white;
    box-shadow: 0 0 20px #888;
}


/****************************************TNC SECTION END****************************************/


/****************************************FOOTER****************************************/

footer {
    /* border: 1px solid orange; */
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer div {
    /* border: 1px solid orchid; */
    display: flex;
    align-items: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid tomato; */
    width: 12%;
    /* margin: 0 0 0 20px; */
}

.footer-logo a {
    color: white;
    text-decoration: none;
}

.footer-logo a img {
    /* border: 1px solid yellowgreen; */
    width: 70%;
    /* margin: 0 0 0 20px; */
}

footer .contact {
    /* border: 1px solid aquamarine; */
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
}

.social-media {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media a {
    /* border: 1px solid violet; */
    width: 15%;
    margin: 15px 6px 0 0;
    color: white;
    text-decoration: none;
}

.social-media img {
    width: 90%;
    border-radius: 100%;
    box-shadow: 0 0 10px#ccc;
    transition: 0.5s;
    margin: 10px;
}

.social-media a:hover img {
    transform: translateY(-10px);
    box-shadow: 0 0 10px#666;
}


/****************************************FOOTER END****************************************/