* {
    margin: 0px;
    padding: 0px;
    line-height: 1.42857143;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: black;
    color: white;
}

nav {
    background: black;
    height: 10vh;
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav div form {
    margin-right: 5vh;
}

nav div form input {
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    background: black;
    border: 1.5px solid #00BFFF;
    color: white;
    text-transform: uppercase;
}

nav div form input:hover {
    background: #00BFFF;
    color: white;
}

nav h1 {
    margin-left: 5vh;
}

.first {
    background-image: url("../images/FrozenCove.0044_(2).png");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.first div {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-size: 20px;
    margin-left: 30px;
    padding: 0 20px;
    line-height: 1.72857143;
    letter-spacing: 2px;
}

img {
    width: 70%;
}

.logo {
    margin-left: 10px;
    width: 5%;
    height: 10vh;
}

.card1,
.card2,
.card3 {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1-div,
.card2-div,
.card3-div {
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.card1 img,
.card2 img,
.card3 img {
    width: 50%;
    height: 55vh;
    margin: 10px;
}

.card2 {
    flex-direction: row-reverse;
}

.second {
    background-image: url("../images/IMG-20210102-WA0008.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.second div {
    width: 30%;
    height: 100vh;
    border: 2px solid yellow;
    /* line-height: 40!important; */
    letter-spacing: 4px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 18px;
}

.credits {
    margin: 15px;
    display: flex;
}

.credit div {
    text-transform: uppercase;
    font-weight: bold;
}

.credit {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid violet;
}

a {
    color: yellowgreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#saffron {
    color: #F4C430
}

#white {
    color: white
}

#green {
    color: green;
}

.download {
    /* position: relative; */
    background-image: url("../images/HighresScreenshot00001.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download form input {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    margin: 10px;
    background-color: black;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: 2px solid #00BFFF;
}

.download form input:hover {
    background: #00BFFF;
    color: white;
}