* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    line-height: 1.62857143;
    font-family: Helvetica, sans-serif;
}

nav {
    background: black;
    height: 10vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav a {
    width: 5%;
    /* border: 1px solid yellowgreen; */
}

nav div,
nav a {
    /* margin: 0 10px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 1.3px;
}

nav a .logo {
    /* border: 1px solid thistle; */
    width: 100%;
}

nav div form input {
    cursor: pointer;
    font-size: 12px;
    height: 10vh;
    padding: 0 15px;
    font-weight: bold;
    background: rgb(216, 94, 50);
    border: 1.5px solid rgb(216, 94, 50);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

nav div form input:hover {
    background: rgb(212, 106, 67);
    color: white;
}

.fa-paper-plane {
    border: none;
    background-color: transparent;
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fa-paper-plane:hover {
    border: none;
    background-color: transparent;
    color: #999;
}

nav h1 {
    /* border: 1px solid limegreen; */
    margin: 0 2vh;
}

.first {
    background-image: url("../images/FrozenCove.0044_(2).jpg");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.first div {
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-left: 30px;
    padding: 0 20px;
    line-height: 1.62857143;
    letter-spacing: 1.3px;
    /* text-shadow: 2px 2px 4px orange; */
}

img {
    width: 70%;
}

.card1,
.card2,
.card3,
.card {
    /* border: 1px solid cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.card1-div,
.card2-div,
.card3-div {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.card1 img,
.card2 img,
.card3 img,
.card img {
    /* border: 1px solid tomato; */
    width: 48%;
    height: 55vh;
    margin: 10px;
}

.card2 {
    flex-direction: row-reverse;
}

.credit-section {
    background-image: url("../images/pawel-czerwinski-tMbQpdguDVQ-unsplash.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credit-section h1 {
    text-align: center;
}

.credits {
    margin: 30px 15px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.credit div {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.credit {
    text-align: center;
    line-height: 1.92857143!important;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 10px 0 0;
    box-shadow: 0 4px 8px 0 #999;
}

.special-thanks {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.2857143!important;
    padding: 30px;
    text-align: center;
}

a {
    color: yellowgreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.download {
    background-image: url("../images/HighresScreenshot00001\ \(1\).jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download form input {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
    background-color: black;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(228, 123, 84);
    border: 2px solid rgb(228, 123, 84);
}

.download form input:hover {
    background: rgb(245, 105, 55);
    color: white;
    box-shadow: 0 0 20px #888;
    transform: translateY(-7px);
}

footer {
    /* border: 1px solid orange; */
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer div {
    /* border: 1px solid tomato; */
    display: flex;
    align-items: center;
}

.footer-logo {
    /* border: 1px solid yellowgreen; */
    width: 12%;
    margin: 0 0 0 20px;
}

footer .contact {
    /* border: 1px solid aquamarine; */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
}

.social-media {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media a {
    /* border: 1px solid violet; */
    width: 15%;
    margin-top: 15px;
}

.social-media img {
    border-radius: 100%;
    box-shadow: 0 0 10px#ccc;
    transition: 0.5s;
    margin: 10px;
}

.social-media a:hover img {
    transform: translateY(-10px);
    box-shadow: 0 0 10px#666;
}